@import './common';
@import './example';



.gallery {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
   
}

.info {
    display: flex;
}

.info >p {
    margin-left: 50px;
}

.load-more {
    margin-top:  40px;
    margin-bottom:  40px;
}


