@import './common';
@import './example';


body {
    justify-content: center;
}

.search-form {
    margin-top: 50px;
margin-left: 500px;
margin-bottom: 50px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
   
}

img {
object-fit: cover;
}


.photo-card {
    width: 400px;
    margin-top: 20px;
}

.info {
    display: flex;
    background-color: rgb(198, 208, 208);
    justify-content: center;
}

.info >p {
 margin-left: auto;
 margin-right: auto;
}

.load-more {
    margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   height: 50px;
   width: 200px;
}


.total_found {
    margin-left: 400px;
    margin-right: auto;
    font-size: 31px;
    font-weight: 800;
}